* {
  margin:0;
  padding:0;
  line-height: 1em;
  box-sizing:border-box;
}

body {
  background: black;
}

.grid {
  line-height: 1;
  margin:0;
}

.cell {
  height: 35px;
  width: 35px;
  margin: 2px;
  display:inline-block;
  vertical-align: top;
}
.cell.active {
  background: #01FFFF;
  box-shadow: inset 0 0 10px #02f, 0 0 5px 5px rgba(30, 60, 255, 0.4);
}