* {
  margin:0;
  padding:0;
  line-height: 1em;
  box-sizing:border-box;
}

.grid {
  line-height: 1;
  margin:0;
}

.cell {
  background: #fbfbfb;
  height: 35px;
  width: 35px;
  margin: 2px;
  display:inline-block;
  vertical-align: top;
}
.cell.active {
  background: red;
}