<!DOCTYPE html>
<html ng-app="stacker">
<head>
  <title>Stacker</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <link rel="stylesheet" type="text/css" href="css/game.css">
</head>
<body>

<div ng-controller="game" class="grid">
  <div ng-repeat="row in grid" class="row">
    <div ng-repeat="cell in row" ng-class="{'cell':true, 'active': cell.active}"></div>
  </div>
  <p>Stack the blocks, press space or touch the screen to play.</p>
  <p>Score: <strong>{{score}}</strong></p>
  <p ng-show="bestscore > 0">Best Score: <strong>{{bestscore}}</strong> (lower is better)</p>

</div>

<script src="js/angular.js"></script>
<script src="js/stacker.js"></script>
</body>
</html>